.hProd {
    text-align: center; 
}

#producsGrid {
    display: flex;
    flex-wrap: wrap;
}

.articleProducto {
    transition: 0.3s;
}
.articleProducto:hover {
    border: 1px;
    border-style: solid;
}

.product {
    padding: 15px;
}

.footerProduct {
    text-align: center;
}

.statusProductButton {
    margin-right: 20px;
}