#logoNav {
    max-width: 250px;
    transition: 0.4s;
    filter: brightness(85%);
}

#logoNav:hover {
    filter: brightness(120%);
}

.hProd {
    text-align: center;
}

#productsGrid {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.addButtonDiv {
    position: fixed;
    right: 25px;
    bottom: 35px;
}

#addButton {
    border-radius: 80px;
    font-size: larger;
    transition: 0.2s;
}

#addButton:hover,
.deleteProductButton:hover,
.statusProductButton:hover {
    border-color: #c2c7d0;
    border-width: 1px;
    background-color: #138bcc;
}

.product {
    padding: 15px;
}

.productImages {
    text-align: center;
}

.productImages img {
    border-radius: 80px;
    width: 90px;
    height: 90px;
    transition: 0.4s;
    margin-left: -20px;
    margin-right: -20px;
    border: 1px;
    border-color: #2d3547;
    border-style: dashed;
    filter: grayscale(60%);
}

.productImages img:hover {
    filter: brightness(120%);
    width: 100px;
    height: 100px;
    filter: grayscale(0%);
}

.articleProducto {
    transition: 0.2s;
}

.articleProducto:hover {
    border: 1px;
    border-style: groove;
}

.footerProduct {
    text-align: center;
}

.statusProductButton {
    margin-right: 20px;
}

.swal2-popup,
.swal2-validation-message,
input {
    color: #d0c2c2;
    background-color: #13171f;
}

#filesDiv {
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: #2a3140;
    background-color: #13171f;
}


#text404Div {
    position: fixed;
    right: 27%;
    bottom: 40%;
}

@media only screen and (max-width: 768px) {
    #logoNav {
        max-width: 125px;
    }
}