.hProd {
    text-align: center;
}

#productsGrid {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.addButtonDiv {
    position: fixed;
    right: 25px;
    bottom: 35px;
}

#addButton {
    border-radius: 80px;
    font-size: larger;
    transition: 0.4s;
}

#addButton:hover,
.deleteProductButton:hover,
.statusProductButton:hover {
    border-color: #c2c7d0;
    border-width: 1px;
    background-color: #138bcc;
}

.product {
    padding: 15px;
}

.articleProducto {
    transition: 0.2s;
}

.articleProducto:hover {
    border: 1px;
    border-style: groove;
}

.footerProduct {
    text-align: center;
}

.statusProductButton {
    margin-right: 20px;
}

.swal2-title,
.swal2-html-container,
.swal2-popup,
.swal2-validation-message,
input {
    color: #c2c7d0;
    background-color: #13171f;
}