<div class="container">
    <nav>
        <ul>
            <li><a href="./"><img id="logoNav" src="../../img/logoAlmacen.png" alt="Almacen de Productos"></a></li>
        </ul>
        <ul>
            <li><a href="./" class="contrast">Home de Productos🛒</a></li>
            <li><a href="./realtimeproducts" class="contrast">Productos en Tiempo Real⌚</a></li>
        </ul>
    </nav>
    <hr />
    <div id="text404Div">
        <h1>Sitio no encontrado (Error 404) 🔎</h1>
    </div>
</div>